<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <queries>
        <intent>
            <action android:name="android.provider.Telephony.SMS_DELIVER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="smsto" android:host="*" />
        </intent>
    </queries>


    <application
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config" >

        <activity
            android:name="com.afkanerd.smswithoutborders_libsmsmms.previews.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleInstance"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.android.mms.transaction.TransactionService"/>

        <receiver
            android:name="com.afkanerd.smswithoutborders_libsmsmms.receivers.SmsTextReceivedReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="com.afkanerd.deku.SMS_DELIVERED_BROADCAST_INTENT" />
                <action android:name="com.afkanerd.deku.SMS_SENT_BROADCAST_INTENT" />
                <action android:name="com.afkanerd.deku.DATA_SENT_BROADCAST_INTENT" />
                <action android:name="com.afkanerd.deku.DATA_DELIVERED_BROADCAST_INTENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.afkanerd.smswithoutborders_libsmsmms.receivers.MmsReceiverBroadcastReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
                <data android:mimeType="application/vnd.wap.sic" />
            </intent-filter>
        </receiver> <!-- Activity that allows the user to send new SMS/MMS messages -->

        <receiver
            android:name="com.afkanerd.smswithoutborders_libsmsmms.receivers.SmsDataReceivedReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data android:scheme="sms" />
                <data android:host="localhost" />
                <!-- <data android:port="8200" /> -->
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.afkanerd.smswithoutborders_libsmsmms.receivers.MmsSentReceiverImpl"
            android:taskAffinity="com.klinker.android.messaging.MMS_SENT" />

        <receiver
            android:name="com.afkanerd.smswithoutborders_libsmsmms.receivers.MmsReceivedReceiverImpl"
            android:exported="true"
            android:taskAffinity="com.klinker.android.messaging.MMS_RECEIVED" />


        <!-- Notification actions -->
        <receiver
            android:name="com.afkanerd.smswithoutborders_libsmsmms.receivers.SmsMmsActionsImpl"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.afkanerd.deku.REPLY_BROADCAST_ACTION" />
                <action android:name="com.afkanerd.deku.MARK_AS_READ_BROADCAST_ACTION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.afkanerd.smswithoutborders_libsmsmms.extensions.context.NotificationsDelImpl"
            android:exported="false" />

        <receiver
            android:name="com.afkanerd.smswithoutborders_libsmsmms.receivers.MmsReceivedReceiverImplTest"
            android:exported="true"/>

        <receiver
            android:name="com.afkanerd.smswithoutborders_libsmsmms.receivers.NotificationActionImpl"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.afkanerd.lib_image_android.NOTIFICATION_STOP_ACTION_INTENT_ACTION" />
                <action android:name="com.afkanerd.lib_image_android.NOTIFICATION_PAUSE_ACTION_INTENT_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.afkanerd.smswithoutborders_libsmsmms.services.ImageTransmissionService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="androidx.work.impl.foreground.SystemForegroundService" />
            </intent-filter>
        </service>

    </application>

</manifest>